# PlanAhead Generated IO constraints 

NET "S1S0[1]" IOSTANDARD = LVCMOS33;
NET "S1S0[0]" IOSTANDARD = LVCMOS33;

NET "botones[15]" IOSTANDARD = LVCMOS33;
NET "botones[14]" IOSTANDARD = LVCMOS33;
NET "botones[13]" IOSTANDARD = LVCMOS33;
NET "botones[12]" IOSTANDARD = LVCMOS33;
NET "botones[11]" IOSTANDARD = LVCMOS33;
NET "botones[10]" IOSTANDARD = LVCMOS33;
NET "botones[9]" IOSTANDARD = LVCMOS33;
NET "botones[8]" IOSTANDARD = LVCMOS33;
NET "botones[7]" IOSTANDARD = LVCMOS33;
NET "botones[6]" IOSTANDARD = LVCMOS33;
NET "botones[5]" IOSTANDARD = LVCMOS33;
NET "botones[4]" IOSTANDARD = LVCMOS33;
NET "botones[3]" IOSTANDARD = LVCMOS33;
NET "botones[2]" IOSTANDARD = LVCMOS33;
NET "botones[1]" IOSTANDARD = LVCMOS33;
NET "botones[0]" IOSTANDARD = LVCMOS33;
NET "leds[15]" IOSTANDARD = LVCMOS33;
NET "leds[14]" IOSTANDARD = LVCMOS33;
NET "leds[13]" IOSTANDARD = LVCMOS33;
NET "leds[12]" IOSTANDARD = LVCMOS33;
NET "leds[11]" IOSTANDARD = LVCMOS33;
NET "leds[10]" IOSTANDARD = LVCMOS33;
NET "leds[9]" IOSTANDARD = LVCMOS33;
NET "leds[8]" IOSTANDARD = LVCMOS33;
NET "leds[7]" IOSTANDARD = LVCMOS33;
NET "leds[6]" IOSTANDARD = LVCMOS33;
NET "leds[5]" IOSTANDARD = LVCMOS33;
NET "leds[4]" IOSTANDARD = LVCMOS33;
NET "leds[3]" IOSTANDARD = LVCMOS33;
NET "leds[2]" IOSTANDARD = LVCMOS33;
NET "leds[1]" IOSTANDARD = LVCMOS33;
NET "leds[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 
NET "S1S0[1]" LOC = M17;
NET "S1S0[0]" LOC = P17;

NET "botones[15]" LOC = V10;
NET "botones[14]" LOC = U11;
NET "botones[13]" LOC = U12;
NET "botones[12]" LOC = H6;
NET "botones[11]" LOC = T13;
NET "botones[10]" LOC = R16;
NET "botones[9]" LOC = U8;
NET "botones[8]" LOC = T8;
NET "botones[7]" LOC = R13;
NET "botones[6]" LOC = U18;
NET "botones[5]" LOC = T18;
NET "botones[4]" LOC = R17;
NET "botones[3]" LOC = R15;
NET "botones[2]" LOC = M13;
NET "botones[1]" LOC = L16;
NET "botones[0]" LOC = J15;
NET "leds[15]" LOC = V11;
NET "leds[14]" LOC = V12;
NET "leds[13]" LOC = V14;
NET "leds[12]" LOC = V15;
NET "leds[11]" LOC = T16;
NET "leds[10]" LOC = U14;
NET "leds[9]" LOC = T15;
NET "leds[8]" LOC = V16;
NET "leds[7]" LOC = U16;
NET "leds[6]" LOC = U17;
NET "leds[5]" LOC = V17;
NET "leds[4]" LOC = R18;
NET "leds[3]" LOC = N14;
NET "leds[2]" LOC = J13;
NET "leds[1]" LOC = K15;
NET "leds[0]" LOC = H17;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
# PlanAhead Generated physical constraints 

NET "clk" LOC = E3;
NET "clr" LOC = M18;
