//! **************************************************************************
// Written by: Map P.20131013 on Thu May 25 18:18:34 2023
//! **************************************************************************

SCHEMATIC START;
COMP "btn0" LOCATE = SITE "U18" LEVEL 1;
COMP "btn1" LOCATE = SITE "T18" LEVEL 1;
COMP "btn2" LOCATE = SITE "R17" LEVEL 1;
COMP "en_w" LOCATE = SITE "P18" LEVEL 1;
COMP "O_r<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "O_r<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "O_r<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "O_r<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "O_r<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "O_r<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "O_r<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "O_r<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "clr0" LOCATE = SITE "P17" LEVEL 1;
COMP "clr1" LOCATE = SITE "N17" LEVEL 1;
COMP "clr2" LOCATE = SITE "M17" LEVEL 1;
COMP "O_d<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "O_d<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "O_d<2>" LOCATE = SITE "U14" LEVEL 1;
COMP "O_d<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "O_d<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "O_d<5>" LOCATE = SITE "V14" LEVEL 1;
COMP "O_d<6>" LOCATE = SITE "V12" LEVEL 1;
COMP "O_d<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "clr" LOCATE = SITE "J15" LEVEL 1;
COMP "dato_I<5>" LOCATE = SITE "U12" LEVEL 1;
COMP "dato_I<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "dato_I<7>" LOCATE = SITE "V10" LEVEL 1;
COMP "dato_I<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "dato_I<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "dato_I<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "dato_I<3>" LOCATE = SITE "T13" LEVEL 1;
COMP "dato_I<4>" LOCATE = SITE "H6" LEVEL 1;
SCHEMATIC END;

