
# PlanAhead Generated IO constraints 

NET "D[7]" IOSTANDARD = LVCMOS33;
NET "D[6]" IOSTANDARD = LVCMOS33;
NET "D[5]" IOSTANDARD = LVCMOS33;
NET "D[4]" IOSTANDARD = LVCMOS33;
NET "D[3]" IOSTANDARD = LVCMOS33;
NET "D[2]" IOSTANDARD = LVCMOS33;
NET "D[1]" IOSTANDARD = LVCMOS33;
NET "D[0]" IOSTANDARD = LVCMOS33;
NET "R[7]" IOSTANDARD = LVCMOS33;
NET "R[6]" IOSTANDARD = LVCMOS33;
NET "R[5]" IOSTANDARD = LVCMOS33;
NET "R[4]" IOSTANDARD = LVCMOS33;
NET "R[3]" IOSTANDARD = LVCMOS33;
NET "R[2]" IOSTANDARD = LVCMOS33;
NET "R[1]" IOSTANDARD = LVCMOS33;
NET "R[0]" IOSTANDARD = LVCMOS33;
NET "salida[7]" IOSTANDARD = LVCMOS33;
NET "salida[6]" IOSTANDARD = LVCMOS33;
NET "salida[5]" IOSTANDARD = LVCMOS33;
NET "salida[4]" IOSTANDARD = LVCMOS33;
NET "salida[3]" IOSTANDARD = LVCMOS33;
NET "salida[2]" IOSTANDARD = LVCMOS33;
NET "salida[1]" IOSTANDARD = LVCMOS33;
NET "salida[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "D[7]" LOC = R13;
NET "D[6]" LOC = U18;
NET "D[5]" LOC = T18;
NET "D[4]" LOC = R17;
NET "D[3]" LOC = R15;
NET "D[2]" LOC = M13;
NET "D[1]" LOC = L16;
NET "D[0]" LOC = J15;
NET "R[7]" LOC = V10;
NET "R[6]" LOC = U11;
NET "R[5]" LOC = U12;
NET "R[4]" LOC = H6;
NET "R[3]" LOC = T13;
NET "R[2]" LOC = R16;
NET "R[1]" LOC = U8;
NET "R[0]" LOC = T8;
NET "salida[7]" LOC = U16;
NET "salida[6]" LOC = U17;
NET "salida[5]" LOC = V17;
NET "salida[4]" LOC = R18;
NET "salida[3]" LOC = N14;
NET "salida[1]" LOC = K15;
NET "salida[0]" LOC = H17;
NET "salida[2]" LOC = J13;

# PlanAhead Generated IO constraints 

NET "C" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "inicio" IOSTANDARD = LVCMOS33;
NET "N" IOSTANDARD = LVCMOS33;
NET "Z" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "Z" LOC = V14;
NET "clk" LOC = E3;
NET "inicio" LOC = N17;
NET "C" LOC = V11;
NET "clr" LOC = M18;
NET "N" LOC = V12;
