

NET "A[5]" IOSTANDARD = LVCMOS33;
NET "A[4]" IOSTANDARD = LVCMOS33;
NET "A[3]" IOSTANDARD = LVCMOS33;
NET "A[2]" IOSTANDARD = LVCMOS33;
NET "A[1]" IOSTANDARD = LVCMOS33;
NET "A[0]" IOSTANDARD = LVCMOS33;
NET "B[5]" IOSTANDARD = LVCMOS33;
NET "B[4]" IOSTANDARD = LVCMOS33;
NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;
NET "F[5]" IOSTANDARD = LVCMOS33;
NET "F[4]" IOSTANDARD = LVCMOS33;
NET "F[3]" IOSTANDARD = LVCMOS33;
NET "F[2]" IOSTANDARD = LVCMOS33;
NET "F[1]" IOSTANDARD = LVCMOS33;
NET "F[0]" IOSTANDARD = LVCMOS33;
NET "S[2]" IOSTANDARD = LVCMOS33;
NET "S[1]" IOSTANDARD = LVCMOS33;
NET "S[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clr" IOSTANDARD = LVCMOS33;
NET "inicio" IOSTANDARD = LVCMOS33;
NET "Z" IOSTANDARD = LVCMOS33;
NET "N" IOSTANDARD = LVCMOS33;


NET "clk" LOC = E3;
NET "clr" LOC = P17;
NET "inicio" LOC = M17;

# PlanAhead Generated IO constraints 

NET "A[7]" IOSTANDARD = LVCMOS33;
NET "A[6]" IOSTANDARD = LVCMOS33;
NET "B[7]" IOSTANDARD = LVCMOS33;
NET "B[6]" IOSTANDARD = LVCMOS33;
NET "F[7]" IOSTANDARD = LVCMOS33;
NET "F[6]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "A[7]" LOC = V10;
NET "A[6]" LOC = U11;
NET "A[5]" LOC = U12;
NET "A[4]" LOC = H6;
NET "A[3]" LOC = T13;
NET "A[2]" LOC = R16;
NET "A[1]" LOC = U8;
NET "A[0]" LOC = T8;
NET "B[7]" LOC = R13;
NET "B[6]" LOC = U18;
NET "B[5]" LOC = T18;
NET "B[4]" LOC = R17;
NET "B[3]" LOC = R15;
NET "B[2]" LOC = M13;
NET "B[1]" LOC = L16;
NET "B[0]" LOC = J15;
NET "F[7]" LOC = V11;
NET "F[6]" LOC = V12;
NET "F[5]" LOC = V14;
NET "F[4]" LOC = V15;
NET "F[3]" LOC = T16;
NET "F[2]" LOC = U14;
NET "F[1]" LOC = T15;
NET "F[0]" LOC = V16;
NET "Z" LOC = U16;
NET "N" LOC = U17;
NET "S[2]" LOC = M18;
NET "S[1]" LOC = N17;
NET "S[0]" LOC = P18;
