//! **************************************************************************
// Written by: Map P.20131013 on Thu May 04 18:03:59 2023
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "inicio" LOCATE = SITE "M17" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "R16" LEVEL 1;
COMP "A<3>" LOCATE = SITE "T13" LEVEL 1;
COMP "B<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "A<4>" LOCATE = SITE "H6" LEVEL 1;
COMP "clr" LOCATE = SITE "P17" LEVEL 1;
COMP "B<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "A<5>" LOCATE = SITE "U12" LEVEL 1;
COMP "B<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "A<6>" LOCATE = SITE "U11" LEVEL 1;
COMP "B<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "A<7>" LOCATE = SITE "V10" LEVEL 1;
COMP "B<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "B<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "B<6>" LOCATE = SITE "U18" LEVEL 1;
COMP "B<7>" LOCATE = SITE "R13" LEVEL 1;
COMP "F<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "F<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "S<0>" LOCATE = SITE "P18" LEVEL 1;
COMP "F<2>" LOCATE = SITE "U14" LEVEL 1;
COMP "S<1>" LOCATE = SITE "N17" LEVEL 1;
COMP "F<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "S<2>" LOCATE = SITE "M18" LEVEL 1;
COMP "F<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "F<5>" LOCATE = SITE "V14" LEVEL 1;
COMP "F<6>" LOCATE = SITE "V12" LEVEL 1;
COMP "F<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "N" LOCATE = SITE "U17" LEVEL 1;
COMP "Z" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

