
# PlanAhead Generated IO constraints 

# PlanAhead Generated physical constraints 

NET "clk" LOC = V10;
NET "clr" LOC = A8;
#NET "clr0" LOC = P17;
NET "portb[7]" LOC = T11;
NET "portb[6]" LOC = R11;
NET "portb[5]" LOC = N11;
NET "portb[4]" LOC = M11;
NET "portb[3]" LOC = V15;
NET "portb[2]" LOC = U15;
NET "portb[1]" LOC = V16;
NET "portb[0]" LOC = U16;
